<!DOCTYPE html>
<html>
<head>
  <title><%= @author.name %></title>
</head>
<body>
<h2><%= @author.name %></h2>

<% if @message %>
  <%= @message %>
<% end %>

<br>

<%= link_to "View posts", url_for(:posts, :index, :author_id => @author.id) %>
<%= link_to "View comments", url_for(:comments, :by_author, :author_id => @author.id, :post_id => 0) %>

</body>
</html>